* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  padding: 20px;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: rgba(210, 190, 143, 0.868);

}



.navbar img {
  height: 60%;
  cursor: pointer;
  border-radius: 40%;
  padding: 10px;
}

nav {
  margin-left: 30px;
  display: flex;
  gap: 30px;
}

nav a {
  padding: 5px 10px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
}
.home {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}
.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto; 
  padding: 0 20px;
}

.search-input {
  width: 200px; 
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 19px;
}
.search-button:hover {
  background-color: #0056b3;
}

.title {
  font-size: 40px;
  color: #333;
}

.image {
  width: 100%;
  margin-top: 20px;
  height: auto;
}

.description {
  font-size: 16px;
  color: #555;
  margin-top: 20px;
}

.socials {
  margin-top: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: scale(1.2);
}


.contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
  height: 50vh;
  margin: 30px auto;
  padding-inline: 20px;
  background-color: #ececec;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

form input,
textarea {
  outline: none;
  border: none;
  padding: 10px;
  padding-left: 15px;
}

form input {
  border-radius: 30px;
}

form button {
  outline: none;
  border: none;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #9a64ec;
  color: #fff;
}

.item-list {
  margin-top: 30px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 250px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.item a {
  align-self: flex-start;
}
.item img {
  width: 150px;
}

.item-details img {
  width: 40vw;
}

.specs {
  margin: 30px;
}
.specs li {
  margin-block: 5px;
}

.not-found {
  width: 40vw;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.not-found h3 {
  font-size: 1.2rem;
}
.not-found img {
  width: 90%;
}

.not-found button {
  border: none;
  outline: none;
  width: 100%;
  align-self: center;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background-color: #9a64ec;
  cursor: pointer;
}
.containerStyle {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.headingStyle {
  font-size: 24px;
  margin-bottom: 10px;
}

.textStyle {
  font-size: 16px;
  margin-bottom: 5px;
}

.editButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
}

input[type="text"],
input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}
.edit-warehouse-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

input[type="text"],
input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}
.button2{
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin: 5px;
}
.filter-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.filter-input {
  width: 30%; /* Adjust the width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

/* Style for the filter input placeholder text */
.filter-input::placeholder {
  color: #aaa; /* Adjust the color as needed */
}
